// --- footer ------------------------------------------------------------------

.footer {
  box-sizing: border-box;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $color--background;
  color: $color--text;
  padding: 20px;
  border-top: 2px solid #222222;

  &__container {
    @include clearfix;
    max-width: $page--width;
    margin: 0 auto;
  }

  &__brands {
    @extend %grid-60;
  }

  &__brands-link {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__logo {
    display: inline-block;
    max-width: 120px;
  }

  &__logo--small {
    max-width: 50px;
  }

  &__shop {
    @extend %grid-20;
  }

  &__social {
    @extend %grid-20;
  }

  &__link {
    color: $color--text;
  }

  &__icon {
    color: $color--text;
    max-width: 40px;
    padding-right: 10px;
  }

  &__icon--small {
    max-width: 32px;
  }

  &__title {
    padding-bottom: 15px;
  }
}

// --- media queries -----------------------------------------------------------

.footer {
  @include tablet {
    &__brands {
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
    }

    &__brands-link {
      margin-bottom: 10px;
    }

    &__shop,
    &__social {
      width: 50%;
    }
  }

  @include mobile {
    &__shop,
    &__social {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}
