// --- layout ------------------------------------------------------------------

.layout {
  &__container {
    @include clearfix;
    max-width: $page--width;
    margin: 0 auto;
    padding: 20px 0 0;
  }

  &__sidebar {
    @extend %grid-33;
  }

  &__main {
    @extend %grid-66;
    box-sizing: border-box;
    padding: 0 0 120px 20px;
  }

  &__logo {
    margin-bottom: 80px;
  }

  &__media {
    @include clearfix;
    clear: both;
    background-color: #222222;
    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
  }

  &__medium {
    @extend %grid-33;
    box-sizing: border-box;
    padding: 20px;
    border-left: 1px solid #444444;
    border-right: 1px solid #444444;

    &:first-child,
    &:last-child {
      border-left: none;
      border-right: none;
    }
  }

  &__title {
    margin-bottom: 20px;
  }

  &__link {
    display: block;
    margin-bottom: 10px;

    &:hover {
      color: $color--link;
    }
  }

  &__videos,
  &__tour {
    @include clearfix;
  }

  &__col {
    @include clearfix;
    @extend %grid-50;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 40px;
  }

  &__music {
    margin-bottom: 40px;
  }

  &__photos {
    @include clearfix;
  }

  &__photo {
    width: 33%;
    float: left;
    box-sizing: border-box;
    padding: 10px;
  }
}

// --- media queries -----------------------------------------------------------

.layout {
  @include tablet {
    &__sidebar,
    &__main {
      width: 100%;
    }

    &__main {
      padding: 0 10px 220px;
    }

    &__sidebar {
      text-align: center;
    }

    &__logo {
      margin-bottom: 10px;
    }

    &__graphics {
      display: none;
    }
  }

  @include mobile {
    &__main {
      padding: 0 10px 380px;
    }

    &__col {
      width: 100%;
      margin-bottom: 10px;
      padding: 0;
    }

    &__media {
      margin: 0;
      padding: 10px;
    }

    &__medium {
      width: 100%;
      border: 0;
    }
  }
}
