// --- variables ---------------------------------------------------------------

$color--text: #ffffff;
$color--background: #000000;
$color--link: #721c0f;
$color--past: #3e3e3e;

$font--size-normal: 16px;
$font--size-large: 20px;

$page--width: 1200px;

$breakpoint--medium: 1024px !default;
$breakpoint--small: 768px !default;
